


<html>
<head>
	<title>Home</title>
</head>
<body>
<h1>
	ffmpeg_rotate
</h1>
<pre>Rotates a video: Possible rotationtypes: 
				0 = 90CounterCLockwise and Vertical Flip (default),
				1 = 90Clockwise
				2 = 90CounterClockwise
				3 = 90Clockwise and Vertical Flip</pre>

<form action="http://localhost:8080/mediaserver/ffmpeg_rotate/runservice" method="post" enctype="multipart/form-data">

    <label for="in">in</label><input class='fileInput' type="file" name="in"  />
    <label for="rotationType">rotationType</label> <input type="text" value="" name="rotationType"/>
    <label for="out">out</label> <input type="text" value="" name="out"/>

    <input type="submit" />

</form>
</body>
</html>
